<h1>Title: <%= @post["title"] %></h1>
<h3><%= @post["blog"] %></h3>

<a href="/api/posts/<%= @post["id"] %>">Edit</a>
<a href="/api/posts/<%= @post["id"] %>" data-method="delete">Delete</a>


<h1>this is a test</h1>